@charset "UTF-8";
@import 'scss/colors';
@import 'scss/drozerah';

// import Materialize default styles
@import 'scss/materialize';

body{
  nav{
    a{
      color: black;
    }
    img{
      transform: translateY(8px);
    }
  }
  main{
    .subtitle{
      font-size: 1.64rem;
      // margin: 0px; // remove margin on small device
    }
    #index-banner{
      .img-banner{
        display: flex;
        justify-content: center;
      }
    }
  }
}