@charset "UTF-8";
@import 'scss/colors';
@import 'scss/drozerah';

// import Materialize default styles
@import 'scss/materialize';

body{
  nav{
    a{
      color: black;
    }
    img{
      transform: translateY(8px);
      margin-right: 5px;
    }
  }
  #index-banner{
    .img-banner{
      display: flex;
      justify-content: center;
    }
  }
}