@charset "UTF-8";
@import 'scss/colors';
@import 'scss/drozerah';
// overwrite Materialize default variables
@import 'scss/variables';
// import Materialize default styles
@import 'scss/materialize';

// active link
.active-nav-link{
  background-color: rgba(240, 240, 240, 1);
}
// anchor
.anchor {
  display: block;
  height: $navbar-height;       /* same height as header */
  margin-top: -$navbar-height;  /* same height as header */
  visibility: hidden;
}

body{
    // Fixed Navbar
  .navbar-fixed {
    nav{
      top: -2px;
      overflow: hidden;
      a{
        color: black;
      }
      img{
        transform: translateY(8px);
      }
    }
  }
  #nav-mobile{
    li > div {
      font-size: 2.1rem;
      height: $navbar-height;
      line-height: $navbar-height;
    }
    li > a {
      font-size: 1.2rem;
      height: $navbar-height;
      line-height: $navbar-height;
      color:#333;
      font-weight: inherit;
    }
    li > a.nav-link-btn-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  main{
    .subtitle{
      font-size: 1.64rem;
      // margin: 0px; // remove margin on small device
    }
    #index-banner{
      .img-banner{
        display: flex;
        justify-content: center;
      }
    }
    .items{
      display: flex;
      flex-direction: column;
      h2{
        margin: 40px 0px;
      }
      .item{
        display: flex;
        flex-direction: row;
        justify-content: center;       
        .item__media{
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          div:first-child{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid #f0f0f0;
            background: #fcfcfc;
            padding: 25px;
            img{
              width: 250px;
              height: 250px;
            }
            div:last-child{
              margin-top: 10px;
            }
          }
        }
        .item__text{
          width: 30%;
          // background-color: orange;
          h3{
            font-size: 1.64rem;
          }
        }
      }
    }
    .media{
      h2{
        margin: 40px 0px;
      }
      #video{
        width: 560px;
        height: 315px;
      }
    }
    .form-wrapper{
      form{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        div:first-of-type{
          flex:1;
        }
        div:last-of-type{
          width: 100px;
        }
      }
    }
  }
}
