// Overwrite Materialize variables
// Navigation Bar
// ==========================================================================

$navbar-height: 70px !default;
$navbar-line-height: $navbar-height !default;
$navbar-height-mobile: $navbar-height !default;
